body {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(181, 0, 2, 1) 50%, rgba(0, 0, 0, 1) 100%);
    font-family: 'Roboto Condensed', sans-serif;

}

table {
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #8a2222;
    color: azure;
    margin: auto;

}

main {
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #000000;
    color: azure;
}

header {
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #000000;
    color: azure;
}

img {
  /* width: 10%;
    height: 10%;*/
    width: 10%;
}